@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="content">
    <!--login-->
    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile">
                <h3>Login To Shop</h3>
                <section>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="key form-group">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input asp-for="Input.Email" class="form-control" type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="key form-group">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input asp-for="Input.Password" class="form-control" type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="form-group">
                            <input type="submit" value="Login">
                        </div>
                        <div class="forg">
                            <a asp-page="./ForgotPassword" class="forg-left">Forgot Password</a>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="forg-right">Register</a>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <!--login-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
