@model List<ComiShop.ProductDetail>

@{
    ViewData["Title"] = "ManagePicture";
}

<h2>ManagePicture</h2>

<div id="page-wrapper">
    <div class="main-page">
        <div class="row">
            <div class="col-md-10">
                <h4>Product Detail</h4>
                <hr />
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="~/images/@(item.ProductImage)" width="50" height="100" /></td>
                                <th><a asp-action="ImageDelete" asp-route-id="@(item.Id)">Delete</a></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <form asp-controller="Admin" asp-action="UploadPicture" asp-route-productId="@(Model.First().ProductId)" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <p>Upload one or more files using this form:</p>
                        <input type="file" name="files" multiple />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
