@model ComiShop.ViewModels.ProductDetailViewModel

@{
    ViewData["Title"] = "ProductEdit";
    var categoryList = (List<CategoryViewModel>)ViewData["Category"];
}

<h2>ProductEdit</h2>

<h4>ProductDetailViewModel</h4>
<hr />
<div id="page-wrapper">
    <div class="main-page">
        <div class="row">
            <div class="col-md-10">
                <form asp-action="ProductEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label">Product Name</label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDes" class="control-label">Product Description</label>
                        <input asp-for="ProductDes" class="form-control" />
                        <span asp-validation-for="ProductDes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DesDetail" class="control-label">Detail</label>
                        <input asp-for="DesDetail" class="form-control" />
                        <span asp-validation-for="DesDetail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(categoryList,"Id","CategoryName"))">
                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label">Quantity</label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitPrice" class="control-label">Unit Price</label>
                        <input asp-for="UnitPrice" class="form-control" />
                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div>
                <a asp-action="ManagePicture" asp-route-id="@(Model.Id)">Manage Picture</a>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
