@model LoginViewModel
@*@using Microsoft.AspNetCore.Identity*@

@*@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@
@{
    ViewBag.Title = "Login";
}
@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<body>
    <!--content-->
    <div class="content">
        <!--login-->
        <div class="login">
            <div class="main-agileits">
                <div class="form-w3agile">
                    <h3>Login To Comi</h3>
                    <form action="#" method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="key">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input asp-for="UserName" type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                            <div class="clearfix"></div>
                            <span asp-validation-for="UserName" class="text-warning"></span>
                        </div>
                        <div class="key">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input asp-for="Password" type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                            <div class="clearfix"></div>
                            <span asp-validation-for="Password" class="text-warning"></span>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                <label asp-for="RememberMe" class="form-check-label">Remember Me</label>
                            </div>
                            <span asp-validation-for="RememberMe" class="text-warning"></span>
                        </div>
                        <input type="submit" value="Login" class="btn btn-success">
                    </form>
                </div>
                <div class="forg">
                    <a href="#" class="forg-left">Forgot Password</a>
                    <a href="registered.html" class="forg-right">Register</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--login-->
    </div>
    <!--content-->
</body>