@model IList<Category>
@{ 
    var categorys = Model.Where(c => c.Deleted == false).ToList();
}
@foreach (var item in categorys)
{
    <li><a asp-controller="Product" asp-action="ProductList" asp-route-id="@item.Id">@item.CategoryName</a></li>
}
