
@{
    ViewData["Title"] = "Complete";
}

<div class="content">
    <div class="cart-items">
        <div class="container">
            <h2><center>Đơn hàng đã được đặt</center></h2>
        </div>
    </div>
</div>
