
@{
    ViewData["Title"] = "False";
}

<div class="content">
    <div class="cart-items">
        <div class="container">
            <h2><center>  Giao dịch không thành công, vui lòng thanh toán lại</center></h2>
        </div>
    </div>
</div>